:root {
    --text-clr: #0b0f0f;
    --btn-clr: #284229;
    --alt-text-clr: #889989;
    font-family: 'Cabin', monospace;
}

@font-face {
    font-family: 'Norse';
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: max(40vw, 400px);
    min-height: 100%;
    background-image: url(./img/DSC03100.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    z-index: 3;
}

.sidebar .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 160px;
    min-width: 100%;
    font-family: 'Norse', monospace;
    font-size: 100px;
    color: white;
    background-color: hsla(0, 0%, 0%, 65%);
    z-index: 4;
    margin-top: 160px;
}

.banner img {
    height: 150px;
    width: 110px;

}
.sidebar > footer {
    color: rgb(255, 255, 255);
    background-color: hsla(180, 15%, 5%, 55%);
    font-size: 20px;
}

div.form-page {
    padding-left: 2%;
    display: flex;
    height: 100vh;
    width: 60vw;
    background-color: #f5f5f5;
}

div.form-block {

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    height: 100%;
    margin: 0;
    gap: 4%;
}

h2.info, div.submits {
    height: 12%;
}

h2.info {
    margin: 0;
    max-width: 640px;
    font-size: max(2.4vmin, .1vmin);
    margin-bottom: 30px;
}

form {

    width: 105%;
    margin-left: -4%;
    
    
}

fieldset {
    border: none;
    background-color: white;
    box-shadow: 0px 4px 10px rgb(194, 195, 199)
}
div.submits {
    display: flex;
    flex-direction: column;
    gap: 4%
}

.submits span {
    font-size: 10pt;
    letter-spacing: 2px;
    font-weight: 100;
}

.submits a {
    margin-left: 14px;
    color: #528a54;
}
.submits button {
    margin-top: -1%;
    background-color: #557056;
    height: 50px;
    width: 220px;
    font-family: 'Cabin', monospace;
    color: ivory;
    box-shadow: 2px 2px 2px darkgrey;
    font-size: 14pt;
    border: 1pt solid rgb(161, 161, 161);
    border-radius: 10px;
    margin-bottom: 20px;
}
ul {
    list-style: none;
    columns: 2;
    max-width: 460px;
    margin-left: -36px;
}

fieldset > h3 {
    margin-left: 16px;
    font-size: 18pt;
    margin-bottom: -10px
}

li {
    font-size: 10pt;
    letter-spacing: 2pt;
    color: rgb(75, 75, 75);
    font-weight: bold;
    padding: 14px
}
li > label {
    margin-bottom: 50px;
}
li input {
    border: 1px solid rgb(191, 201, 211);
    border-radius: 4px;
    height: 20px;
    width: 210px;
}
li input:focus {
    border-color: blue;
    outline: blue;
    box-shadow: 2px 2px 2px lightgray;
}